<!DOCTYPE html>
<html>
  <head>
    <title>DemoBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div>Hello, <%= current_user.email %>!</div>
      <div><%= link_to 'Logout', destroy_user_session_path, method: :delete %></div>
    <% else %>
      <div><%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Create an Account', new_user_registration_path %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
